In [2]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## Discussion 


1. What is a dataframe?


2. What information can we obtain about a dataframe?


3. How have we interacted with a dataframe?

---

### Practice Exercises


#### Information about a dataframe

1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

---

#### Working with dataframes

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


8. Lowest speed for Grass or Rock


10. Change all the column names

      - lowercase letters
      - remove whitespace


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy?


15. Which Fire Pokemon appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---
### Bonus 


1. Find the average speed by Generation

2. Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

1.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
df.describe

<bound method NDFrame.describe of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]>

In [7]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

1.

In [9]:
df.HP.max()

255

In [20]:
def find_highest(dataframe, column):
    return dataframe[column].max()

In [21]:
find_highest(df, 'Attack')

190

2.

In [24]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
df["Name"][find_highest(df, "HP")== df.HP]

261    Blissey
Name: Name, dtype: object

3.

In [34]:
def num_types(dataframe, column):
    return len(dataframe[column].unique())

In [35]:
num_types(df, "Type 1")

18

4.

In [39]:
len(df[df["Type 2"] == "Ghost"])

14

5.

In [46]:
def percent_ghost(dataframe, poke_type):
    return round(len(df[df["Type 2"] == poke_type]) / len(df) * 100, 2)

In [47]:
percent_ghost(df, "Ghost")

1.75

6.

In [57]:
len(df[df.Attack > df.Defense])

433

7. but actually 8. in question set

In [84]:
grass_rock = df[df['Type 1'].isin(["Grass", "Rock"]) | df['Type 2'].isin(["Grass", "Rock"])]
grass_rock[grass_rock.Speed == grass_rock.Speed.min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False

10.

In [85]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [90]:
df.columns = df.columns.str.lower()

In [91]:
df.columns

Index(['#', 'name', 'type 1', 'type 2', 'total', 'hp', 'attack', 'defense',
       'sp. atk', 'sp. def', 'speed', 'generation', 'legendary'],
      dtype='object')

In [93]:
df.columns = df.columns.str.replace(' ', '_')

In [94]:
df.columns

Index(['#', 'name', 'type_1', 'type_2', 'total', 'hp', 'attack', 'defense',
       'sp._atk', 'sp._def', 'speed', 'generation', 'legendary'],
      dtype='object')

11. & 12.

In [101]:
df = df.rename(columns={"sp._atk": "special-attack", "sp._def": 'special-defense'})

In [102]:
df

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [119]:
df

,#,name,type_1,type_2,total,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack/defense difference,spec-attack/spec-defense difference
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,23,2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,50,50
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,50,50
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,50,20
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,100,40
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,10,40

13.

In [116]:
df["attack/defense difference"] = (df['attack'] - df['defense']).abs()

In [121]:
df.name[df['attack/defense difference']].max()

'Zubat'

In [114]:
df["spec-attack/spec-defense difference"] =(df['special-attack'] - df['special-defense']).abs()

In [132]:
df.name[df['attack/defense difference'] == df['attack/defense difference'].max()]

230    Shuckle
Name: name, dtype: object

In [134]:
df.name[df['spec-attack/spec-defense difference'] == df['spec-attack/spec-defense difference'].max()]

230    Shuckle
Name: name, dtype: object

14.

In [168]:
rock_type1 = df['type_1'] == 'Rock'

In [171]:
fairy_type2 = df['type_2'] == 'Fairy'

In [176]:
df.name[rock_type1 & fairy_type2].count()

3

15.

In [185]:
def last_pokemon(database):
    return df.name[df["type_1"] == "Fire"].max()

In [186]:
last_pokemon(df)

'Vulpix'